.bold {
  font-weight: bold;
  color: #9147ff;
}

header {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  background: #212121;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

header .logo {
  float: left;
  margin: 1em;
  border-bottom: #9147ff 2px solid;
  color: #fff;
}

nav {
  float: right;
  margin: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
  color: #fff;
  font-weight: bold;
}

nav li a {
  text-decoration: none;
  color: #fff;
}

.header-search{
  background-color: #FFFFFF26;

  border: none;
  border-radius: 20px;
  outline: none;
  color: #fff;

  padding: 10px;

  font-weight: 500;

  text-indent: 5px;
}

.header-search::placeholder {
  color: #fff;
  font-weight: 500;
}

.header-signup {
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 30px;

  background: #9147ff;
  color: #fff;
  font-weight: 700;
}

.active-header {
  color: #9147ff;
}